@charset "utf-8";

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fl,.fr {
	display:inline;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.overflow{overflow:hidden;}
.mb10{margin-bottom:10px;}
body{background:url(../images/bg.png) repeat left top; font-family:"微软雅黑",sans-serif;}
.main{padding:10px;}
.main .title{line-height:24px; font-size:16px; color:#4c4c4c;}
.main .author{color:#8d8d8d; font-size:14px;}
.main .date{color:#8d8d8d; font-size:14px;}
.main img{display:block; margin-left:auto; margin-right:auto; margin-bottom:10px; background-size:100% 100%; width:100%;}
.main .detail{font-size:14px; color:#4c4c4c; text-indent:2em; line-height:22px;}


.main .tie_title{border-bottom:1px solid #d8d8d8; padding-bottom:10px;}
.main .list{padding-bottom:10px; border-bottom:1px solid #d8d8d8;}
.main .list .img_bg{background-color:#fff; box-shadow:0px 3px 4px rgba(0,0,0,0.32); height:48px; width:48px; padding:3px; -webkit-border-radius:5px; margin-right:10px;}
.main .list .img_bg img{height:48px; width:48px; display:block; border-radius:5px;}
.main .list .name{font-size:14px; line-height:30px; color:#333;}
.main .list .date{font-size:13px; line-height:24px; color:#999;}
.main .list .floor{font-size:13px; line-height:30px; color:#ab6d07;}
.main .dialog{position:relative; padding-top:14px;}
.main .dialog .dialog_top{background:url(../images/dialog_top.png) no-repeat left top; position:absolute; top:0; left:20px; height:14px; width:20px; overflow:hidden;}
.main .dialog .dialog_content{width:96%; border-radius:5px; background-color:#FFF; padding:2%;}
.pb10{padding-bottom:10px;}
.main .page{background:url(../images/page_bg.png) repeat-x left top; height:47px; line-height:47px; position:fixed; bottom:0; left:0; width:100%;}
.main .page div,span{width:20%; float:left;}
.main .page .first{background:url(../images/first.png) no-repeat left center; height:47px; width:34px; display:block; margin-left:auto; margin-right:auto;}
.main .page .prev{background:url(../images/prev.png) no-repeat left center; height:47px; width:34px; display:block; margin-left:auto; margin-right:auto;}
.main .page .next{background:url(../images/next.png) no-repeat left center; height:47px; width:34px; display:block; margin-left:auto; margin-right:auto;}
.main .page .last{background:url(../images/last.png) no-repeat left center; height:47px; width:34px; display:block; margin-left:auto; margin-right:auto;}
.main .page .total{text-align:center; color:#fff;}
.main .page .total em{color:#ffe57e;}