<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>dqdpFilter</filter-name>
    <filter-class>cn.com.do1.common.framebase.dqdp.DqdpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>dqdpFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name />
      <url-pattern>/*</url-pattern>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
    </web-resource-collection>
    <auth-constraint />
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <!--<context-param>-->
  <!--<param-name>Owasp.CsrfGuard.Config</param-name>-->
  <!--<param-value>WEB-INF/Owasp.CsrfGuard.properties</param-value>-->
  <!--</context-param>-->
  <!--<context-param>-->
  <!--<param-name>Owasp.CsrfGuard.Config.Print</param-name>-->
  <!--<param-value>true</param-value>-->
  <!--</context-param>-->
  <!--<listener>-->
  <!--<listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>-->
  <!--</listener>-->
  <!--<listener>-->
  <!--<listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>-->
  <!--</listener>-->
  <!--<filter>-->
  <!--<filter-name>CSRFGuard</filter-name>-->
  <!--<filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
  <!--<filter-name>CSRFGuard</filter-name>-->
  <!--<url-pattern>*.jsp</url-pattern>-->
  <!--</filter-mapping>-->
  <!--<filter-mapping>-->
  <!--<filter-name>CSRFGuard</filter-name>-->
  <!--<url-pattern>*.action</url-pattern>-->
  <!--</filter-mapping>-->
  <!--<servlet>-->
  <!--<servlet-name>JavaScriptServlet</servlet-name>-->
  <!--<servlet-class>org.owasp.csrfguard.servlet.JavaScriptServlet</servlet-class>-->
  <!--<init-param>-->
  <!--<param-name>source-file</param-name>-->
  <!--<param-value>WEB-INF/Owasp.CsrfGuard.js</param-value>-->
  <!--</init-param>-->
  <!--<init-param>-->
  <!--<param-name>inject-into-forms</param-name>-->
  <!--<param-value>true</param-value>-->
  <!--</init-param>-->
  <!--<init-param>-->
  <!--<param-name>inject-into-attributes</param-name>-->
  <!--<param-value>true</param-value>-->
  <!--</init-param>-->
  <!--<init-param>-->
  <!--<param-name>domain-strict</param-name>-->
  <!--<param-value>true</param-value>-->
  <!--</init-param>-->
  <!--<init-param>-->
  <!--<param-name>referer-pattern</param-name>-->
  <!--<param-value>http://localhost:8080.*</param-value>-->
  <!--</init-param>-->
  <!--<init-param>-->
  <!--<param-name>x-requested-with</param-name>-->
  <!--<param-value>OWASP CSRFGuard Project</param-value>-->
  <!--</init-param>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
  <!--<servlet-name>JavaScriptServlet</servlet-name>-->
  <!--<url-pattern>/JavaScriptServlet</url-pattern>-->
  <!--</servlet-mapping>-->
  <filter>
    <description>FileRewriteFilter</description>
    <filter-name>FileRewriteFilter</filter-name>
    <filter-class>cn.com.do1.component.filter.FileRewriteFilter</filter-class>
    <init-param>
      <description>path_include</description>
      <param-name>path_include</param-name>
      <param-value>/images|/fckeditor</param-value>
    </init-param>
    <init-param>
      <description>suffix</description>
      <param-name>suffix</param-name>
      <param-value>csv|html|htm|gif|jpg|jpeg|png|bmp|tif|txt|xls|swf|ico|jar|cer|keystore|cab|tmp|doc|rar|zip|flv|mpg|dat|avi|3gp|wmv|mp3|apk</param-value>
    </init-param>
    <init-param>
      <description>forbidden</description>
      <param-name>forbidden</param-name>
      <param-value>conf|dbf</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FileRewriteFilter</filter-name>
    <url-pattern>/upload/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <!--<filter>-->
  <!--<filter-name>csrfFilter</filter-name>-->
  <!--<filter-class>cn.com.do1.common.framebase.security.CSRFFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
  <!--<filter-name>csrfFilter</filter-name>-->
  <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>cn.com.do1.dqdp.core.DqdpFrameListener</listener-class>
  </listener>
   <servlet>
    <description />
    <display-name>uploadServlet</display-name>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>cn.com.do1.component.util.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/KindEditUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.remote</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>progressUpload</servlet-name>
  <servlet-class>cn.com.do1.component.util.uploadServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>progressServlet</servlet-name>
  <servlet-class>cn.com.do1.component.util.progressServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>progressUpload</servlet-name>
  <url-pattern>/progressUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>progressServlet</servlet-name>
  <url-pattern>/getBar</url-pattern>
 </servlet-mapping>
  <welcome-file-list>
    <welcome-file>jsp/default/login/login_in.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/tags/do1-tag</taglib-uri>
      <taglib-location>/WEB-INF/do1-tag.tld</taglib-location>
    </taglib>
  </jsp-config>
  
  <error-page>
	  <error-code>404</error-code>
	  <location>/jsp/common/error.htm</location>
  </error-page>
</web-app>

